@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #488BFF;
}
.container{
    transition: all 0.25s linear;
    width: 500px;
    height: 300px;
    /* height: 580px; */
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
}
.container.active{
    height: 580px;
}
.wrapper{
    display: none;
    transition: all 0.35s linear;
}
.wrapper.active{
    display: block;
    transition: all 0.35s linear;
}
.container .img{
    width: 450px;
    height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    margin: 7px 0px;
    border-radius: 10px;
    gap: 20px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(117, 117, 117);
    flex-direction: column;
    border: 3px dashed #ccc;
}
.img img{
    width: 150px;
    height: auto;
    object-fit: cover;
}
.img .active{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.img .hidden{
    display: none;
}
.wh{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    margin-top: 45px;
    position: relative;
}
.wh input{
    width: 220px;
    height: 40px;
    font-size: 20px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    padding: 10px;
    color: rgb(73, 73, 73);
    border-radius: 5px;
    outline: none;
    border: 2px solid rgb(117, 117, 117);
}
.wh input:focus{
    border: 2px solid #488BFF;
}
.wh span{
    position: absolute;
}
.wh span:nth-child(1){
    left: 0px;
    top: -27px;
}
.wh span{
    right: 167px;
    top: -27px;
}
.lr{
    display: flex;
    width: 100%;
    /* justify-content: center; */
    gap: 60px;
    margin-top: 20px;
}
.lr label{
    cursor: pointer;
}
.lr input{
    width: 18px;
    height: 18px;
    accent-color: #488BFF;
    cursor: pointer;
}
.lr .lock,.quality{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.ImgQuality{
    opacity: 0;
}
.quality .ImgQuality.active{
    cursor: pointer;
    opacity: 1;
    width: 60px;
    height: 25px;
    border-radius: 5px;
    outline: none;
    padding: 0px 4px;
}
.download{
    width: 100%;
    margin-top: 30px;
    text-align: center;
}
.download button{
    width: 100%;
    height: 55px;
    background: #488BFF;
    color: #fff;
    outline: none;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 7px;
}
.credits{
    margin-top: 30px;
    color: #fff;
    display: flex;
    text-align: center;
}
.credits a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
a:hover{
    text-decoration: underline;
}


/* media queries  */
@media (min-width : 550px) {
    .container{
        width: 400px;
    }
    .container.active{
        height: 530px;
    }
    .container .img{
        width: 350px;
        height: 250px;
    }
    .container .img img{
        width: 120px;
    }
    .img img.active{
        width: 100%;
        height: 100%;
    }
    .wh input{
        width: 165px;
    }
    .wh span{
    right: 118px;
    top: -27px;
    }
    .wh span:nth-child(1){
        left: 5px;
    }
    .credits{
        flex-direction: column;
    }

}

@media (min-width : 450px) {
    .container{
        width: 300px;
        height: 230px;
        padding: 5px;
    }
    .container.active{
        height: 470px;
    }
    .container .img{
        width: 270px;
        margin-top: 13px;
        height: 200px;
    }
    .container .img img{
        width: 120px;
    }
    .img img.active{
        width: 100%;
        height: 100%;
    }
    .wh input{
        width: 120px;
        font-size: 18px;
    }
    .wh{
        margin-top: 35px;
    }
    .wh span{
    right: 65px;
    top: -27px;
    }
    .wh span:nth-child(1){
        left: 2px;
    }
    .download{
        margin-top: 20px;
    }
    .download button{
        width: 100%;
    }
    .lr{
        flex-direction: column;
        gap: 5px;
        width: 100%;
    }
    .lr .lock,.quality{
        text-align: left;
        width: 100%;
        text-align: left;
        justify-content: left;
        align-items: left;
    }
    .credits{
        flex-direction: column;
    }
}
